{% import "craft-ajaxinate/_render/_myformmacro.twig" as forms %}

{# type = "text", name, value, placeholder, fieldType, class #}

<div class="js_numberField">
	{{ forms.input('text', '', field['instructions'] ) }}
</div>